/* =============
    Footer
============= */

#footer{
    body{
    background-color: var(--black);
    color: var(--white);
    // width: 1600px;
    // height: 504px;
    // padding-left: 5%;
    }
    #bodyitem{
        display: grid;
        grid-template-columns: 40% 20% 20% auto;
        justify-content: center;
        // align-items: center;
        margin-top: 50px;
        vertical-align: top;
        
        #codextcard{
            #img{
                padding: 7px;
            }
        }
        div{
            vertical-align: top;
            // padding-left: 5%;
            // padding-right: 5%;

            h2{
                padding-bottom: 10%;
            }
        }
    }
}






    // main{
    //     display: grid;
    //     grid-template-columns: 20% 10% 10% 10%;
    // }
        // #codext{
        //     height: 230px;
        //     width: 30%; 
        //     border: 1px solid var(--black);
        //     border-radius: 280px, 240px;
        //     display: inline-block;
        //     margin-top: 100px;
        //     vertical-align: top;

        //     section{
        //         li{
        //         // display: inline-block;
        //         text-align: center;
        //         }
        //     }
        // }
        // #resources{
        //     // height: 207px;
        //     // width: 20%;
        //     // border: 1px solid var(--black);
        //     // border-radius: 115px, 207px;
        //     // display: inline-block;
        //     // // margin-top: 100px;
        //     vertical-align: top;
        // }
        // #usefullinks{
        //     // height: 207px;
        //     // width: 20%; 
        //     // border: 1px solid var(--black);
        //     // border-radius: 153px, 207px;
        //     // display: inline-block;
        //     // margin-top: 100px;
        //     vertical-align: top;
        // }

        // #newsletter{
        //     // height: 207px;
        //     // width: 25%; 
        //     // border: 1px solid var(--black);
        //     // border-radius: 306px, 194px;
        //     // display: inline-block;
        //     // margin-top: 100px;
        //     vertical-align: top;
        // }
        // // footer{
        // //     text-align: center;
        // //     bottom: 0;
        // //     height: 60px;
        // //     border-top-width: 1px;
        // //     border-top-style: solid;
        // //     border-top-color: white;
        // //     padding-top: 30px;
        // //     margin-top: 5%;
        // //     position: absolute;
        // //     justify-content: center;
        // //     align-items: center;
        // //     width: 100%;
        // // }
        #button{
            background-color: var(--blue);
            height: 56px;
            width: hug;
            position: absolute;
        }
        #input{
            background-color: black;
            color: white;
            height: 49px;
            width: hug;
        }
        
    // } 


