/* =============
    Footer
============= */

#footer{
    body{
    background-color: var(--black);
    color: var(--white)
        #resources{
            display: inline-block;
        margin: 50px;
        padding: 50px;
        }
        ul{
            display: inline-block;
            margin: 50px;
            padding: 50px;
    }
    }
}
