/* =============
    Hero
============= */

body{
    #hero{
        background-image: url(C:\Users\antho\GitHub\info151\img\heroimg.jpg);
        background-position: center;
        background-size: cover;
        height: 100vh;
    }
}