/* =============
    Hero
============= */

#hero{
    background-image: url("../img/heroimg.jpg");
    background-image: url("/img/hero.jpg");
    // background-image: url("C:\Users\antho\GitHub\info151\img\heroimg.jpg");
    background-position: center;
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center
   
}
// .signinup{
//     ul{
//         display: flex;
//         // gap: ;
//         margin: 4px;
//         justify-content: end;
//         li{
//             border-bottom: none;
//         }
//         button{
//             font-family: 'Open Sans', sans-serif;
//         }
//         #signup{
//             background-color: black;
//             border: none;
//             color: white;
//             padding: 21px 35px;
//             border-radius: 10px;
//             text-align: center;
//             text-decoration: none;
//             // display: inline-block;
//             font-size: 16px;
//             justify-content: space-between;
//         }
//         #signin{
//             background-color: white;
//             border: 1px solid black;
//             color: black;
//             padding: 20px 35px;
//             border-radius: 10px;
//             text-align: center;
//             text-decoration: none;
//             // display: inline-block;
//             font-size: 16px;
//         }
//     }

// }
// #validator{
//     text-align: center;
//     margin-top: 50px;
// }
// header{
//     padding: 12px;
//     display: grid;
//     grid-template-columns: 50% auto 8%;
//     grid-template-areas: 
//     "logo . burger"
//     "nav nav nav";

    // @include md {
    //     grid-template-columns: 50% auto 4%;
    // }

    // @include xl{
    //     grid-template-columns: 20% auto ;
    //     grid-template-areas: "logo nav";
    //     padding: 0%;
    // }


// }
