/* =============
    Plans
============= */
#plans{
    #Classic{
        background-color: var(--purple);
        color: var(--white);
    }
    #grey{
        color: var(--grey)
    }
    ul{
        padding: 69px; 
        border: 1px solid var(--grey);
        border-radius: 360px, 480px;
        display: inline-block;
    }
    #classic{
        padding: 69px; 
        border: 1px solid var(--grey);
        border-radius: 360px, 480px;
    }
    li{
        h2{ color: var(--black)}
        h3{ color: var(--black)}
    }
    #white{
        color: var(--white);
        background-color: var(--purple);
    }
}