/* =============
    Header
============= */
header{
    padding: 12px;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-areas: 
    "logo . burger"
    "nav nav nav";

    #logo-container{
        grid-area: logo;
        img{
            width: 100%;
        }
    }

    #burger-container{
        grid-area: burger;
        display: flex;
        justify-content: flex-end;
        padding: 40%;
        // align-items: center;
        // text-align: center;
        // padding-top: 40%;
        // width: 100%;
    }

    #nav-container{
        grid-area: nav;
        // justify-content: end;
        text-decoration: none;

        // ul{
        //     text-decoration: none;
        //     // display: flex;
        //     // flex-direction: column;
        //     // justify-content: flex-end;
        // }
        // li{
        //     text-decoration: none;
        // }
    }
}