/* =============
    Header
============= */
header{
    background-color: var(--purple);

    nav{
        ul{
            li{
                a{
                    color: var(--white);
                }
            }
            #trial{
                a{
                    background-color: var(--trial);
                    color: var(--white);
                    padding: 15px 30px;
                    border-radius: 5px;
                }
            }
        }
    }
}

    