/* =============
    Navigation
============= */
a{
    text-decoration: none;
}

nav{
    margin-top: 28px;

    @include xl{
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-areas: "nav1 signup";
        padding: 2%;
        align-items: center;

        .navi{
            grid-area: nav1;
            gap: 10%;
            ul{
                display: flex;
                justify-content: center;
                gap: 10px;
                
                li{
                    border-bottom: none;
                }
            }
        }
        .signinup{
            grid-area: signup;
            ul{
                display: flex;
                justify-content: flex-end;
            }
        }
    }
    ul{
        li{
            display: flex;
            // justify-content: flex-end;
            flex-direction: column;
            align-items: flex-end;
            border-bottom: 1px solid gray;
            padding: 14px;

            @include xl{
                border: none;
            }

            a:link, a:visited{
                padding: 15px;
                display: inline-block;
                color: gray;
                font-weight: 600;
                transition: 0.25s;
                // border: 1px solid red;
                // text-decoration: none!important;

            }

            a:hover, a:active{
                color: black;
            }
        }
    }
    .signinup{
        ul{
            display: flex;
            // gap: ;
            margin: 4px;
            justify-content: end;
            li{
                border-bottom: none;
            }
            button{
                font-family: 'Open Sans', sans-serif;
            }
            #signup{
                background-color: black;
                border: none;
                color: white;
                padding: 16px 35px;
                border-radius: 10px;
                text-align: center;
                text-decoration: none;
                // display: inline-block;
                font-size: 16px;
                // justify-content: space-between;
            }
            #signin{
                background-color: white;
                border: 1px solid black;
                color: black;
                padding: 15px 35px;
                border-radius: 10px;
                text-align: center;
                text-decoration: none;
                // display: inline-block;
                font-size: 16px;
            }
        }
    }
}




// .showmainnav{
//     display: flex !important;
// }

// nav{
//     // margin-top: 20px;

//     @include xl{
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: flex-start;
//         width: 100%;
//         box-sizing: border-box;
        
//     }
//     // ul{
//     //     padding: 0;
//     //     margin: 0;
//     //     list-style: none;
//     //     text-decoration: none;
//     //     display: flex;
//     //     flex-direction: column;
//     //     justify-content: flex-end;
//     //     align-items: flex-end;
//     //     box-sizing: border-box;


//         @include xl{
//             display: flex;
//             flex-direction: row;
//             justify-content: space-evenly;
//         }
    
//         li{
//             text-decoration: none;
//             color: gray;
//             border-bottom: 1px solid gray;
//             width: 100%;
//             display: flex;
//             flex-direction: column;
//             justify-content: flex-end;
//             align-items: flex-end;
//             padding: 10px;
//             box-sizing: border-box;


//             // @include xl{
//             //     display: flex;
//             // }
    
//             a:link, a:visited{
//                 padding: 5px 5px 5px 5px;
//                 display: inline-block;
//                 // font-size: x-large;
//                 margin-bottom: 12px;
//                 color: gray;
//                 font-weight: 600;
//                 transition: 0.25s;
//                 text-decoration: none!important;

//                 @include xl{
//                     box-sizing: border-box;
//                 }
//             }
//             a:hover, a:active{
//                 color: black;
//             }
//         }
//         // .signinup{
//         //     ul{
//         //         li{
//         //             display: flex;
//         //         flex-direction: row;
//         //         }
//         //         display: flex;
//         //         flex-direction: row;
//         //     }
//         // }
//         // a:link{
//         //     text-decoration: none!important;
//         //   }
//     }
// // }
// .signinup{
//     li span{
//         background-color: aqua;
//         color: white;
//         border-radius: 8px;
//         padding: 5px;
//         text-align: center;
//         vertical-align: center;
//         align-items: center;
//         display: flex;
//     }
    

// }