/* =============
    Base
============= */
.show-signin-container{
    display: flex !important;
}
.show-signup-container{
    display: flex !important;
}
.hide-burger-x{
    display: none!important;
}
.hide-burger-bars{
    display: none!important;
}

#validator{
    text-align: center;
    margin-top: 50px;
}

ul{
    margin: 0;
    padding: 0;

    li{
        list-style: none;
    }
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
