/* =============
    Typography
============= */
h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
    text-align: center;
}

p{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    
}
section{
    width: 360;
    height: 480;
}